<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332724579138-k289lrc5n9obt8d0hfi8ov0s7lh5f5u2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332724579138-k289lrc5n9obt8d0hfi8ov0s7lh5f5u2</string>
	<key>API_KEY</key>
	<string>AIzaSyDwDcosFiynNrwo1uqF6nahwG1DeBxGZ94</string>
	<key>GCM_SENDER_ID</key>
	<string>332724579138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.schoolscope.rift-infinite-campus</string>
	<key>PROJECT_ID</key>
	<string>rift-9bb63</string>
	<key>STORAGE_BUCKET</key>
	<string>rift-9bb63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332724579138:ios:33e0daeb33a56daf31f6db</string>
</dict>
</plist>